*{
    margin:0;
    padding: 0;
    font-family:Roboto-Black;
}
nav{
    overflow: hidden;
    display: block;
    width: 100%;
    color:white;
}
nav ul{
    background-color: black;
    padding:10px;
}
nav li{
    display: inline;
    margin: 40px;
}
.hero-image{
    background-image: url("../images/hero.png");
    height: 500px;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.hero-text{
    color: white;
    
}
date{
    display:flex;
    flex-direction: row;
    justify-content: left;
    background-color: lightgrey;
    border-color: black;
    border-width: 5px;
    align-items: center;
    margin: 40px;
}
.flexbox-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.flexbox-item {
    width: 200px;
    margin: 10px;
    border: 3px solid color black;
    

}
.flexbox-item-1{
    height: 100px;

}
.flexbox-item-2 ul{
    list-style-type:none;

}
.flexbox-item-3{
   background-color: rgb(247, 183, 65);
   border: 1px;
   color: white;
   padding: 10px;
}
footer{
    display: flex;
    width: 100%;
    color:white;
    background-color: black;
    border: 20px;
}
footer ul{
    display: block;
    padding:10px;
}
.bottom-container{
    display: flex;
    justify-content: space-around;
    margin: 20px;
}
.bottom-container ul{
    list-style-type: none;
}
details{
    display:flex;
    justify-content: center;

}
#map{
    height: 150px;
    width: 200px;
}
